PORT=3000

STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3000/payments/success
STRIPE_CANCEL_URL=http://localhost:3000/payments/cancelled


# url donde se genera el endpontsecret:
#https://dashboard.stripe.com/test/workbench/webhooks/we_1PyCtfLBKunniAECskrxCtAX
STRIPE_ENDPOINTSECRET=

# pueden ser varios: NATS_SERVERS="nats://localhost:4222,nats://localhost:4223"
NATS_SERVERS="nats://localhost:4222"